@media all and ( min-width: 1023px ) {
.navbar-brand{
    margin-left: 46%
}
#navbar{
    width:100%;
}

#imgdiv{
    margin-top: 10%;
}
#frame{
    overflow:auto;
    position: static;
    width: 30%;
    height: 350px;
    margin-left:35%;
    margin-top:10%;
    background-color:#F5F5F5;
}

#form-group{

    width:100%;

}

body{
    background-color:#F5F5F5;
    font-family: 'Nanum Gothic', sans-serif;
}

#addon-wrapping{
    width:50px;
}
#addon-wrapping2{
    width:50px;
}
#sub{
    text-align:right;
}
#emailHelp{
    margin-top:0.5%;
    font-size: 15px;
    position:fixed;
}

}

@media all and ( max-width: 900px ){
.navbar-brand{
    margin-left: 30%
}
#navbar{
    width:100%;
}

#imgdiv{
    margin-top: 10%;
}
#frame{
    overflow:auto;
    position: static;
    width: 90%;
    height: 350px;
    margin-left:5%;
    margin-top:15%;
    background-color:#F5F5F5;
}

#form-group{

    width:100%;

}

body{
    background-color:#F5F5F5;
    font-family: 'Nanum Gothic', sans-serif;
}

#addon-wrapping{
    width:50px;
}
#addon-wrapping2{
    width:50px;
}
#sub{
    text-align:right;
}
#emailHelp{
    margin-top:0.5%;
    font-size: 15px;
    position:fixed;
}

}